// *** Mixins ***

@mixin menu-background($menu-background-use) {
  @if $menu-background-use == true {
    background: $menu-background;
  }

  @if $menu-background-use == false {
    background: none;
  }
}
@mixin menu-transition() {
  transition: $menu-transition $menu-transition-speed $menu-transition-type;
}
@mixin menu__bar-border-left($menu__bar-border-left) {
  @if $menu__bar-border-left == false {
    border-left: none;
  }

  @if $menu__bar-border-left == true {
    border-left: $menu__bar-border-value $menu__bar-border-color;
  }
}
@mixin menu__bar-box-shadow($menu__bar-box-shadow) {
  @if $menu__bar-box-shadow == false {
    box-shadow: none;
  }

  @if $menu__bar-box-shadow == true {
    box-shadow: $menu__bar-box-shadow-value $menu__bar-box-shadow-color;
  }
}
@mixin menu__bar-transform($transform-gpu) {
  @if $transform-gpu == true {
    transform: translate3d(100%, 0, 0);
  }

  @if $transform-gpu == false {
    transform: translateX(100%);
  }
}
@mixin menu__bar-transition() {
  transition: $menu__bar-transition $menu__bar-transition-speed $menu__bar-transition-type;
}
@mixin menu__bar-active() {
  transform: none;
}
@mixin global-transition() {
  transition: $menu__bar-transition $menu__bar-transition-speed $menu__bar-transition-type;
}
@mixin global-transform-menu($transform-gpu) {
  @if $transform-gpu == true {
    transform: translate3d($global-translate, 0, 0);
  }

  @if $transform-gpu == false {
    transform: translateX($global-translate);
  }
}
@mixin global-filter($global-filter-use) {
  @if $global-filter-use == true {
    filter: $global-filter;
  }

  @if $global-filter-use == false {
    filter: none;
  }
}
