// *** Variables ***

// Dark pad
$menu-z-index: 99;
$menu-background: rgba(20, 20, 20, 0.3);
$menu-transition: all;
$menu-transition-speed: 0.7s;
$menu-transition-type: ease-out;

// Menu bar
$menu__bar-width: 40vw;
$menu__bar-border-value: 1px solid;
$menu__bar-border-color: rgba(0, 0, 0, 0.4);
$menu__bar-background: rgba(236, 240, 241, 1.0);
$menu__bar-transition: all;
$menu__bar-transition-speed: 0.4s;
$menu__bar-transition-type: ease-out;
$menu__bar-box-shadow-value: -10px 0 30px 0;
$menu__bar-box-shadow-color: rgba(255, 51, 71, 0.7);

// Global container
$global-translate: -1 * $menu__bar-width;
$global-filter-value: 3px;
$global-filter: blur($global-filter-value);

// Parameters
$coupled-menu: false;
$menu-background-use: false;
$menu__bar-border-left: true;
$menu__bar-box-shadow: false;
$transform-gpu: false;
$global-filter-use: false;
