/*
  | Menu |
*/

// *** Import ***
@import "_variables",
        "_mixins";

// *** Styles ***
.menu {
  z-index: $menu-z-index;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  @include menu-transition();
  @include menu-background($menu-background-use);

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .menu__bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $menu__bar-width;
    background: $menu__bar-background;
    @include menu__bar-transition();
    @include menu__bar-transform($transform-gpu);
    @include menu__bar-border-left($menu__bar-border-left);
    @include menu__bar-box-shadow($menu__bar-box-shadow);

    &.active {
      @include menu__bar-active();
    }
  }
}

.global {
  width: 100%;
  @include global-transition();
  @include coupled-menu($coupled-menu);

  &.menu-active {
    @include global-filter($global-filter-use);
    @include global-transform($transform-gpu);
    @include coupled-menu($coupled-menu);
  }
}
